Ты никогда не пытаешься изменять мою базу данных, ты не можешь создавать таблицы или делать еще что-либо с табоицами, ты можешь только читать и записывать перезаписывать данные в таблицах.
Когда ты что-то создаешь новое ты проверяешь каждый раз чтобы ты ничего не сломал что уже работает. 