{% extends 'dashboard/base.html' %}

{% block title %}Главная{% endblock %}

{% block page_title %}Панель управления{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Добро пожаловать в MKAdmin</h5>
                    <p class="card-text">Выберите нужный раздел в меню слева для начала работы.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 